<div class="my-3 flex justify-content-between">
    <div class="w-full">
        <h5>Select Product</h5>
        <p-dropdown [style]="{'width':'200px'}" [options]="products" [(ngModel)]="selectedProduct" optionLabel="productName" placeholder="Select a Product"></p-dropdown>
        <p-button class="ml-2" label="Fetch Details" (onClick)="fetchDetails()"></p-button>
    </div>
</div>
<ng-template [ngIf]="productDetails">
    <app-produt-details [productDetails]="productDetails"></app-produt-details>
    <app-table [bids]="bids"></app-table>
</ng-template>