<div class="flex alert py-1">
    <div class="flex flex-order-0">
        icon
    </div>
    <div class="flex flex-order-2 align-self-start">
        <button pButton class="pi pi-pencil p-2 p-button-text" label="Edit"></button>
        <div class="p-2 hover" [ngClass]="expanded ? 'pi pi-angle-up' : 'pi pi-angle-down'"
            (click)="expanded = !expanded"></div>
    </div>
    <div class="flex flex-order-1 flex-auto min-w-0">
        <div [ngClass]="{ eclipse: expanded }" class="block parent">
            <ng-container *ngFor="let data of datasss; let i=index">
                <div class="child" id="index-{{i}}">
                    <div *ngIf="isTextOverflow('index-' + i)" class="teams-count">
                        {{i}} - {{data}}
                      </div>
                </div>
            </ng-container>
            <ng-content></ng-content>
        </div>
    </div>
</div>