.alert {
    background-color: lightcoral;
    border-radius: 0;
    border-left: 4px solid red;
}

.parent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & > ::ng-deep * {
        display: inline-flex;
        padding: 0.5rem;
    }
}

.eclipse {
    white-space: normal !important;
}