.alert {
    background-color: lightcoral;
    border: 0;
    border-radius: 0;
    border-left: 4px;
    border-style: solid;
    border-color: red;
    padding-right: 115px;
  }
  
  .eclipse {
    white-space: normal !important;
  }
  
  .hover:hover {
    cursor: pointer;
  }
  
  .child {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
  }
  
  .parent {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  